# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Windows files
*.exe
*.bat
*.cmd

# Free Pascal files
*.o
*.ppu

# Lazarus files
*.lps
*.elf
*.img
*.list
*.compiled

# Project specific exclusions
!__buildrtl.bat

